.mb-window{
    position: absolute;
    top: 25%;
    left: 25%;
    border: 3px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    width: 50%;
    height: 50%;
    padding-top: 36px;
    padding-bottom: 30px;
}

.mb-header{
    height: 26px;
    background-color: darkgrey;
    padding-left: 5px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    line-height: 26px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.mb-window #mb-close{
    margin: 0;
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #000;
    color: #FF0000;
    font-weight: bold;
    border-radius: 8px;
    line-height: 22px;
    cursor: pointer;
}

.mb-window #mb-close:hover{
    color: #FFF;
}

.mb-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
}
